kagglehub
pandas
matplotlib
seaborn
python-dotenv
langchain-community
langchain-openai
langchain-chroma
transformers
gradio
notebook
ipywidgets
tensorflow[and-cuda] # for GPU support (without CUDA use this : tensorflow)